@media screen and (max-width: 720px) {
  .last-modified {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .owner {
    display: none;
  }
}

.wbdv-delete {
  width: max-content;
  margin-left: 0.5rem;
}

.wbdv-button-row {
  min-width: fit-content;
  width: 100%;
  float: right;
  display: inline-flex;
}

.highlighted {
  background-color: var(--lighter-green)!important;
}

.course-name-input {
  width: 100%;
}