.wbdv-course-table-header {
  background-color: var(--lighter-green);
  padding: 0.5rem;
  margin-bottom: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.wbdv-class-table {
  border: 1px solid var(--green);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.wbdv-course-table {
  margin-bottom: 0;
}

tr td:first-child{
  width: 6%;
  white-space:nowrap;
}

.wbdv-icon {
  font-weight: normal;
}

.wbdv-sort-icon {
  margin: 0 0.5rem;
}

.wbdv-grid-btn-block {
  display: inline-flex;
  float: right;
}

.wbdv-grid-btn-label {
  margin-bottom: 0;
}

.wbdv-grid-btn {
  margin: 0 0.5rem;
}

.wbdv-add-course-chunk {
  display: inline-flex;
  flex-wrap: nowrap;
}

.wbdv-new-course {
  background: inherit;
  background-color: rgba(255, 255, 255, 0.75);
}

.wbdv-add-course {
  width: max-content;
  font-size: xx-large;
  line-height: 0.5;
  margin: 0 1rem;
}

@media screen and (max-width: 720px) {
  .wbdv-last-modified {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .wbdv-owner {
    display: none;
  }

  .wbdv-grid-btn-label {
    display: none;
  }
}