.wbdv-modules-section {
  display: inline-flex;
  width: 100%;
}

.wbdv-modules-list {
  padding: 0 1rem 1rem 1rem;
}

.wbdv-topic-section {
  padding: 0 1rem;
  width: 66.6666%;
}

@media screen and (max-width: 700px) {
  .wbdv-modules-section {
    flex-direction: column;
  }
}