.wbdv-padded-top {
  padding-top: 57px;
}

.wbdv-course-list-search-navbar {
  margin: 0 50px;
  padding: 0.75rem;
  max-width: calc(var(--max-width) - 100px);
  box-sizing: border-box;
  background-color: var(--lightest-grey);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid var(--lighter-grey);
}

.wbdv-switch-layout-btn {
  font-size: large;
}

.wbdv-icon {
  font-weight: normal;
}

.wbdv-course-search-button {
  margin: 0.25rem;
}

.wbdv-search-chunk {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .wbdv-padded-top {
    padding-top: 92px;
  }
}

@media screen and (max-width: 390px) {
  .wbdv-padded-top {
    padding-top: 124px;
  }

  .wbdv-search-chunk {
    flex-wrap: wrap;
  }

  .wbdv-course-search-button {
    margin: 0.25rem 0;
  }
}