.wbdv-padded-top {
  padding-top: 57px;
}

.course-list-search-navbar {
  margin: 0 50px;
  padding: 0.75rem;
  max-width: calc(var(--max-width) - 100px);
  box-sizing: border-box;
  background-color: var(--lightest-grey);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid var(--lighter-grey);
}

.wbdv-hamburger {
  background-color: inherit;
  border: none;
  font-size: medium;
  padding: 0.25rem;
}

.course-list-search-input {
  margin: 0 1rem;
}

.class-table {
  border: 1px solid var(--green);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.switch-layout-btn {
  font-size: large;
}

.wbdv-icon {
  font-weight: normal;
}

.title-link {
  color: var(--text-color);
}

.title-link:hover {
  color: var(--green);
  text-decoration: none;
}

.course-search-button {
  margin: 0.25rem;
}

.search-chunk {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .wbdv-padded-top {
    padding-top: 92px;
  }
}

@media screen and (max-width: 390px) {
  .wbdv-padded-top {
    padding-top: 124px;
  }

  .search-chunk {
    flex-wrap: wrap;
  }

  .course-search-button {
    margin: 0.25rem 0;
  }
}