.wbdv-widget-heading-bar {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.wbdv-widget-edit-row {
  padding: 0.5rem;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wbdv-widget-input-label {
  max-width: 33.333333%;
}

.wbdv-widget-input-field {
  width: 100%;
  max-width: 66.666666%;
}

.wbdv-clickable-label {
  color: var(--text-color);
}

.wbdv-clickable-label:hover {
  color: var(--green);
  text-decoration: none;
}

.wbdv-widget-body {
  padding: 0.75rem 1.5rem;
}

.wbdv-heading-widget-edit {
  border: 1px solid var(--very-light-grey);
  border-radius: 0.25rem;
  background-color: var(--lightest-grey);
  margin: 0 0 1rem 0;
}

.wbdv-widget-edit-heading {
  background-color: var(--faded-light-green);
  padding: 0.5rem;
  border-radius: 0.125rem;
  margin: 0 0 0.5rem 0;
  border: solid var(--very-light-grey);
  border-width: 0 0 1px 0;
}

.wbdv-heading-widget-preview {
  border: 1px solid var(--very-light-grey);
  border-radius: 0.25rem;
  background-color: var(--lightest-grey);
  padding: 0.5rem;
}