.wbdv-editor-main-navbar {
  background-color: var(--lightest-grey);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.wbdv-navbar-content {
  flex-direction: row;
  align-items: baseline;
}

.wbdv-navbar-content-item {
  padding: 0.5rem 1rem;
}

.wbdv-navbar-btn {
  background-color: inherit;
  border: none;
}

.wbdv-new-page-btn {
  color: var(--text-color);
}
