.wbdv-login {
  margin: 0 0 5px 0;
}

.wbdv-login-zone-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wbdv-cancel-btn {
  max-width: 100px;
  font-size: medium;
}

.wbdv-input-form-row {
  display: flex;
  flex-wrap: wrap;
}