:root {
  --max-width: 1200px;
  --screen-m: 920px;
  --screen-s: 720px;
  --screen-xs: 520px;
  --screen-xxs: 320px;
  --text-color: #212529;
  --faded-light-green: rgba(210, 238, 172, 0.5);
  --lightest-green: #aecb91;
  --lighter-green: #9baf86;
  --green: #6d7f5c;
  --dark-green: #344126;
  --darker-green: #181e13;
  --white: #FFFFFF;
  --lightest-grey: #dee2e6;
  --very-light-grey: #cdccd1;
  --lighter-grey: #9f9ea4;
  --light-grey: #6b6d70;
  --grey: #4d4d50;
  --dark-grey: #35353b;
  --darker-grey: #25242d;
  --darkest-grey: #19191c;
  --light-red: #fa6c68;
  --red: #CD5C5C;
  --dark-red: #8B0000;
  --darker-red: #590000;
}

::placeholder {
  opacity: 0.3;
}

body {
  padding: 25px 50px;
  background-color: var(--white);
  max-width: var(--max-width);
}

.wbdv-field {
  height: 2rem;
  border-radius: 3px;
  border: 1px solid var(--green);
  background: #F9F9F9;
  flex-basis: 15em;
  padding: 0.25rem 0.75rem;
}

.wbdv-link {
  font-size: 0.85rem;
  min-width: max-content;
}

.wbdv-title-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
}

.wbdv-input-label {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 125px;
  font-size: large;
}

.wbdv-button {
  flex-basis: 15em;
  width: 100%;
  height: 2rem;
  line-height: 1;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.wbdv-btn {
  background-color: inherit;
  border: none;
}

.wbdv-green-btn {
  background-color: var(--lighter-green);
  border-color: var(--green);
  color: var(--dark-green);
}

.wbdv-green-btn:hover {
  background-color: var(--green);
  border-color: var(--dark-green);
  color: var(--darker-green);
}

.wbdv-red-btn {
  background-color: var(--light-red);
  border-color: var(--red);
  color: var(--dark-red);
}

.wbdv-red-btn:hover {
  background-color: var(--red);
  border-color: var(--dark-red);
  color: var(--darker-red);
}

.wbdv-icon-link {
  color: var(--text-color);
  font-weight: bold;
  margin: 0 0.25rem;
}

.wbdv-icon-link:hover {
  color: var(--green);
  text-decoration: none;
}

.wbdv-delete-btn:hover {
  color: var(--dark-red);
}

.wbdv-back-btn {
  font-size: large;
  margin: 0 1em 0 0;
  opacity: 0.9;
}